<a href="https://colab.research.google.com/github/ntHieu03/DA_PYTHON/blob/main/05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/student-mat.csv')

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [4]:
sliced_df = df.loc[:, 'school':'guardian']

# Hiển thị DataFrame sau khi cắt lát
print(sliced_df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     reason guardian
0    course   mother
1    course   father
2     other   mother
3      home   mother
4      home   father
..      ...      ...
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

[395 rows x 12 columns]

### Step 5. Create a lambda function that will capitalize strings.

In [14]:
sliced_df = sliced_df.applymap(lambda x: x.upper() if isinstance(x, str) else x)

print(sliced_df)

    school sex address famsize Pstatus      Mjob      Fjob  reason guardian
0       GP   F       U     GT3       A   AT_HOME   TEACHER  COURSE   MOTHER
1       GP   F       U     GT3       T   AT_HOME     OTHER  COURSE   FATHER
2       GP   F       U     LE3       T   AT_HOME     OTHER   OTHER   MOTHER
3       GP   F       U     GT3       T    HEALTH  SERVICES    HOME   MOTHER
4       GP   F       U     GT3       T     OTHER     OTHER    HOME   FATHER
..     ...  ..     ...     ...     ...       ...       ...     ...      ...
390     MS   M       U     LE3       A  SERVICES  SERVICES  COURSE    OTHER
391     MS   M       U     LE3       T  SERVICES  SERVICES  COURSE   MOTHER
392     MS   M       R     GT3       T     OTHER     OTHER  COURSE    OTHER
393     MS   M       R     LE3       T  SERVICES     OTHER  COURSE   MOTHER
394     MS   M       U     LE3       T     OTHER   AT_HOME  COURSE   FATHER

[395 rows x 9 columns]

### Step 6. Capitalize both Mjob and Fjob

In [21]:
sliced_df[['Mjob', 'Fjob']] = sliced_df[['Mjob', 'Fjob']].applymap(lambda x: x.upper() if isinstance(x, str) else x)

print(sliced_df)

    school sex address famsize Pstatus      Mjob      Fjob  reason guardian
0       GP   F       U     GT3       A   AT_HOME   TEACHER  COURSE   MOTHER
1       GP   F       U     GT3       T   AT_HOME     OTHER  COURSE   FATHER
2       GP   F       U     LE3       T   AT_HOME     OTHER   OTHER   MOTHER
3       GP   F       U     GT3       T    HEALTH  SERVICES    HOME   MOTHER
4       GP   F       U     GT3       T     OTHER     OTHER    HOME   FATHER
..     ...  ..     ...     ...     ...       ...       ...     ...      ...
390     MS   M       U     LE3       A  SERVICES  SERVICES  COURSE    OTHER
391     MS   M       U     LE3       T  SERVICES  SERVICES  COURSE   MOTHER
392     MS   M       R     GT3       T     OTHER     OTHER  COURSE    OTHER
393     MS   M       R     LE3       T  SERVICES     OTHER  COURSE   MOTHER
394     MS   M       U     LE3       T     OTHER   AT_HOME  COURSE   FATHER

[395 rows x 9 columns]

### Step 7. Print the last elements of the data set.

In [17]:
last_elements = sliced_df.tail()

print(last_elements)

    school sex address famsize Pstatus      Mjob      Fjob  reason guardian
390     MS   M       U     LE3       A  SERVICES  SERVICES  COURSE    OTHER
391     MS   M       U     LE3       T  SERVICES  SERVICES  COURSE   MOTHER
392     MS   M       R     GT3       T     OTHER     OTHER  COURSE    OTHER
393     MS   M       R     LE3       T  SERVICES     OTHER  COURSE   MOTHER
394     MS   M       U     LE3       T     OTHER   AT_HOME  COURSE   FATHER

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [20]:
sliced_df['Mjob'] = sliced_df['Mjob'].str.capitalize()
sliced_df['Fjob'] = sliced_df['Fjob'].str.capitalize()

print(sliced_df)

    school sex address famsize Pstatus      Mjob      Fjob  reason guardian
0       GP   F       U     GT3       A   At_home   Teacher  COURSE   MOTHER
1       GP   F       U     GT3       T   At_home     Other  COURSE   FATHER
2       GP   F       U     LE3       T   At_home     Other   OTHER   MOTHER
3       GP   F       U     GT3       T    Health  Services    HOME   MOTHER
4       GP   F       U     GT3       T     Other     Other    HOME   FATHER
..     ...  ..     ...     ...     ...       ...       ...     ...      ...
390     MS   M       U     LE3       A  Services  Services  COURSE    OTHER
391     MS   M       U     LE3       T  Services  Services  COURSE   MOTHER
392     MS   M       R     GT3       T     Other     Other  COURSE    OTHER
393     MS   M       R     LE3       T  Services     Other  COURSE   MOTHER
394     MS   M       U     LE3       T     Other   At_home  COURSE   FATHER

[395 rows x 9 columns]

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [22]:
def majority(age):
    if age > 17:
        return True
    else:
        return False

In [23]:

df['legal_drinker'] = df['age'].apply(majority)
print(df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... freetime goout  Dalc  Walc  health absences  G1  G2  G3 legal_drinker
0    ...        3     4     1     1       3        6   5   6   6          True
1    ...        3     3     1     1       3        4   5   5   6         False
2    ...        3     2     2     3       3       10   7   8  10         False
3    ...        2     2     1     1       5        2  15  14  15         False
4    ...        3     2     1     2       5        4   6  10  10         False
..   ...      ...   ...   ...   ...     ...      ...  ..  ..  ..           ...
390  ...        5     4     4     5       4       11   9   9   9          True
391  ...        4     5     3     4       2        3  14  16  16         False
392  ...        5     3     3     3       3        3  10   8   7          True
393  ...        4     1     3     4       5        0  11  12  10          True
394  ...        2     3     3     3       5        5   8   9   9          True

[395 rows x 34 columns]

### Step 10. Multiply every number of the dataset by 10.
##### I know this makes no sense, don't forget it is just an exercise

In [24]:
def multiply_by_10(value):
    if isinstance(value, int) or isinstance(value, float):
        return value * 10
    else:
        return value

In [25]:
df = df.applymap(multiply_by_10)

print(df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F  180       U     GT3       A    40    40   at_home   teacher
1       GP   F  170       U     GT3       T    10    10   at_home     other
2       GP   F  150       U     LE3       T    10    10   at_home     other
3       GP   F  150       U     GT3       T    40    20    health  services
4       GP   F  160       U     GT3       T    30    30     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M  200       U     LE3       A    20    20  services  services
391     MS   M  170       U     LE3       T    30    10  services  services
392     MS   M  210       R     GT3       T    10    10     other     other
393     MS   M  180       R     LE3       T    30    20  services     other
394     MS   M  190       U     LE3       T    10    10     other   at_home

     ... freetime goout  Dalc  Walc  health absences   G1   G2   G3  \
0    ...       30    40    10    10      30       60   50   60   60
1    ...       30    30    10    10      30       40   50   50   60
2    ...       30    20    20    30      30      100   70   80  100
3    ...       20    20    10    10      50       20  150  140  150
4    ...       30    20    10    20      50       40   60  100  100
..   ...      ...   ...   ...   ...     ...      ...  ...  ...  ...
390  ...       50    40    40    50      40      110   90   90   90
391  ...       40    50    30    40      20       30  140  160  160
392  ...       50    30    30    30      30       30  100   80   70
393  ...       40    10    30    40      50        0  110  120  100
394  ...       20    30    30    30      50       50   80   90   90

    legal_drinker
0              10
1               0
2               0
3               0
4               0
..            ...
390            10
391             0
392            10
393            10
394            10

[395 rows x 34 columns]