<a href="https://colab.research.google.com/github/ntHieu03/DA_PYTHON/blob/main/06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows:
1. The first a random number from 1 to 4
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [13]:
series1 = pd.Series(np.random.randint(1, 5, size=100))
series2 = pd.Series(np.random.randint(1, 4, size=100))
series3 = pd.Series(np.random.randint(10000, 30001, size=100))

print("Series 1:")
print(series1)
print("\nSeries 2:")
print(series2)
print("\nSeries 3:")
print(series3)

Series 1:
0     2
1     2
2     2
3     1
4     1
     ..
95    1
96    3
97    3
98    2
99    1
Length: 100, dtype: int64

Series 2:
0     3
1     1
2     1
3     2
4     2
     ..
95    3
96    1
97    2
98    1
99    1
Length: 100, dtype: int64

Series 3:
0     26926
1     26195
2     24834
3     29228
4     27897
      ...
95    24416
96    24139
97    16932
98    26760
99    29341
Length: 100, dtype: int64

### Step 3. Let's create a DataFrame by joinning the Series by column

In [14]:
df = pd.concat([series1, series2, series3], axis=1)
df.columns = ['Series 1', 'Series 2', 'Series 3']

print(df)

    Series 1  Series 2  Series 3
0          2         3     26926
1          2         1     26195
2          2         1     24834
3          1         2     29228
4          1         2     27897
..       ...       ...       ...
95         1         3     24416
96         3         1     24139
97         3         2     16932
98         2         1     26760
99         1         1     29341

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [15]:
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']
print(df)

    bedrs  bathrs  price_sqr_meter
0       2       3            26926
1       2       1            26195
2       2       1            24834
3       1       2            29228
4       1       2            27897
..    ...     ...              ...
95      1       3            24416
96      3       1            24139
97      3       2            16932
98      2       1            26760
99      1       1            29341

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [16]:
df = pd.concat([series1, series2, series3], axis=0)

df_bigcolumn = pd.DataFrame(df, columns=['bigcolumn'])

print(df_bigcolumn)

    bigcolumn
0           2
1           2
2           2
3           1
4           1
..        ...
95      24416
96      24139
97      16932
98      26760
99      29341

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [ ]:
Yes.

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [17]:
df_bigcolumn = pd.DataFrame(df, columns=['bigcolumn']).reset_index(drop=True)

df_bigcolumn = df_bigcolumn.reindex(range(300))

print(df_bigcolumn)

     bigcolumn
0            2
1            2
2            2
3            1
4            1
..         ...
295      24416
296      24139
297      16932
298      26760
299      29341

[300 rows x 1 columns]